
<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Quiz/style.css'%}">
    <link rel="stylesheet" href="{% static 'Quiz/style2.css'%}">
</head>
<body>
  
    <div class="title_container">
        <div class="wtitle">Quiz Website</div>
        <a class="logout move" href="{% url 'LogOut' %}"><img class="leaderpic" src="{% static 'Quiz/images/logout.jpg' %}"></a>
    </div>
        

    <div class="ResetPassword">
        <form action="{% url 'Rset' %}" method="POST">
            {% csrf_token %}
        <div class="details">
            <h1 class="mode">Reset</h1>
            <label for="email">Email:</label>
            <input class="input" type="email" id="email" name="email" required>

            <label for="password">New Password:</label>
            <input class="input" type="password" id="password" name="password" required>

            <button class="loginbtn" type="submit">Rset</button>
            </div>

            </form>
    </div>
    <!-- </div> -->
    
</body>
</html>